#mynavbar{
  background-color: #f3f8f7;
}

#searchbar{
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("./img/searchicon.png");
  background-position: 10px 10px;
  background-repeat: repeat;
  padding: 12px 20px 12px 40px;
  margin-top: 1%;
  margin-left: 5%;
}

#navbar-collapse{
  margin-top: -4.5%;
}

.btn{
  color: #c10026;
  border: none;
  background-color: #f3f8f7
}
